<!-- BLOG CARDS START -->
<div class="container">
  <div class="row">
    <div class="col-12 p-3 m-3">
      <h2 class="text-center"><b>Latest posts</b></h2>
    </div>
    {% include'_partials/blog_card.html.twig' %}
  </div>
</div>
<!-- BLOG CARDS END -->