{% extends 'layout/app.html.twig' %}

{% block PAGE_CSS %}
{% endblock %}

{% block CONTENT_MID %}
  <!-- CONTACT START -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-5 mb-5"><b>Contact</b></h1>
        <hr>
      </div>
    </div>
    <form class="row g-3 mt-5">
      <div class="offset-3 col-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="example@example.com">
      </div>
      <div class="offset-3 col-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="John Doe">
      </div>
      <div class="offset-3 col-6">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" placeholder="Type a message here.." rows="5"></textarea>
      </div>
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary px-5"><b>Submit</b></button>
      </div>
    </form>
  </div>
  <!-- CONTACT END -->
{% endblock %}

{% block PAGE_JS %}
{% endblock %}